---
import MainCard from "../components/MainCard.astro";
import SectionCard from "../components/SectionCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Daniel Yepes | Software Engineer">
  <main class="h-[100svh]">
    <section
      class="flex flex-col gap-8 p-4 relative mx-auto md:top-1/4 md:p-0 md:flex-row md:max-w-2xl lg:max-w-4xl"
    >
      <section class="relative md:fixed">
        <MainCard />
      </section>
      <section class="flex flex-1 flex-col gap-6 max-h-[50svh] md:ml-[264px]">
        <SectionCard title="About me">
          <p>This is me</p>
        </SectionCard>
        <SectionCard title="Experience">
          <p>This is my experience</p>
        </SectionCard>
        <SectionCard title="Studies">
          <p>This is my experience</p>
        </SectionCard>
        <SectionCard title="Projects">
          <p>This is my experience</p>
        </SectionCard>
        <SectionCard title="Skills">
          <p>This is my experience</p>
        </SectionCard>
        <SectionCard title="Contact me">
          <p>This is my experience</p>
        </SectionCard>
        <SectionCard title="Contact me">
          <p>This is my experience</p>
        </SectionCard>
        <SectionCard title="Contact me">
          <p>This is my experience</p>
        </SectionCard>
        <SectionCard title="Contact me">
          <p>This is my experience</p>
        </SectionCard>
        <SectionCard title="Contact me">
          <p>This is my experience</p>
        </SectionCard>
        <SectionCard title="Contact me">
          <p>This is my experience</p>
        </SectionCard>
        <SectionCard title="Contact me">
          <p>This is my experience</p>
        </SectionCard>
      </section>
    </section>
  </main>
</Layout>
