---
import MainCard from "../components/MainCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Daniel Yepes | Full-stack Developer">
  <main class="h-[100svh] flex justify-center items-center gap-4">
    <!-- <nav class="">Navigation</nav> -->
    <section class="flex gap-8">
      <MainCard />
      <section>Sections</section>
    </section>
  </main>
</Layout>
