<nav
  class="fixed mx-auto top-8 left-1/2 -translate-x-1/2 z-10 p-2 rounded-lg border border-white/15 bg-white/20 backdrop-blur-sm"
>
  <ul class="flex gap-2 items-center justify-between">
    <li>
      <a href="/#header" class="text-white/80 hover:text-white">Home</a>
    </li>
    <li>
      <a href="/#about" class="text-white/80 hover:text-white">About</a>
    </li>
    <li>
      <a href="/#experience" class="text-white/80 hover:text-white"
        >Experience</a
      >
    </li>
    <li>
      <a href="/#projects" class="text-white/80 hover:text-white">Projects</a>
    </li>
    <li>
      <a href="/#education" class="text-white/80 hover:text-white">Education</a>
    </li>
    <li>
      <a href="/#skills" class="text-white/80 hover:text-white">Skills</a>
    </li>
  </ul>
</nav>
