---
interface Props {
  text: string;
  link: string;
  canCopy?: boolean;
}

const { link, text } = Astro.props;
---

<a
  href={link}
  class="flex items-center justify-center md:justify-start gap-2 [&>svg]:w-5 [&>svg]:h-5 hover:text-white"
>
  <slot />
  <span>{text}</span>
</a>
