---
import Tooltip from "./Tooltip.astro";

interface Props {
  text: string;
  link?: string;
  isEmail?: boolean;
}

const { link, text, isEmail } = Astro.props;
---

<a
  href={link}
  class={`flex items-center relative justify-center md:justify-start gap-2 [&>svg]:w-5 [&>svg]:h-5 [&:hover>.tooltip]:block hover:text-white ${
    isEmail ? "cursor-text" : "cursor-pointer"
  }`}
>
  <slot />
  <span>{text}</span>
</a>
