---

---

<li class="mb-8 ms-4">
  <div class="absolute w-3 h-3 bg-card rounded-full mt-1.5 -start-1.5"></div>
  <slot />
</li>

<style scoped>
  li:hover > div {
    @apply border border-gray-500;
  }
</style>
